.env.local
.env.local.php
.env.prod.local
config/parameters.yml
/bin
/vendor/
/composer.phar
/var/*
/.composer
.phpunit.cache

# Satis default configuration
satis.json
public/packages.json
public/index.html
public/include/*
public/p*

# Test
.atoum.php
phpunit.xml
behat.yml

# Continuous integration
/build/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Phpstorm
.idea/

# SublimeText
*.sublime-workspace

# TextMate
*.tmproj
*.tmproject
tmtags
