parameters:
	level: 5
	paths:
		- src
		- tests
	fileExtensions:
		- php
	symfony:
		container_xml_path: var/cache/test/TestKernelTestDebugContainer.xml
	ignoreErrors:
		- '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::.+\(\)#'
	reportUnmatchedIgnoredErrors: false
	inferPrivatePropertyTypeFromConstructor: true

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
