<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="config/bootstrap.php" cacheResultFile="var/.phpunit.result.cache">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <php>
    <env name="KERNEL_CLASS" value="TestKernel"/>
    <env name="APP_ENV" value="test" force="true"/>
    <env name="APP_DEBUG" value="1" force="true"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Satisfy Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
