parameters:
    secret: "ThisTokenIsNotSoSecretChangeIt"
    satis_filename: "%kernel.project_dir%/satis.json"
    satis_log_path: "%kernel.project_dir%/var/satis"
    admin.auth: false
    admin.users: ~
    composer.home: /var/www
