imports:
  - { resource: config.yml }
  - { resource: parameters.test.yml }

framework:
  test: ~
  session:
    storage_id: session.storage.mock_file
  profiler:
    collect: false

services:
  logger:
    class: Psr\Log\NullLogger
  twig.exception_listener:
    class: stdClass
