parameters:
    secret: "ThisTokenIsNotSoSecretChangeIt"
    satis_filename: "%kernel.project_dir%/satis.json"
    satis_log_path: "%kernel.project_dir%/var/satis"
    admin.auth: false
    admin.users: ~
    composer.home: "%kernel.project_dir%/var/composer"
    github.secret: ~
    gitlab.secret: ~
    gitlab.auto_add_repo: false
    gitlab.auto_add_repo_type: ~
    gitlab.prefer_ssh_url_type: false
