parameters:
    secret: "%env(APP_SECRET)%"
    satis_filename: "%env(resolve:SATIS_CONFIG)%"
    satis_log_path: "%env(resolve:SATIS_LOG)%"
    admin.auth: false
    admin.users: []
    composer.home: "%env(resolve:COMPOSER_HOME)%"
    composer.cache: "%env(resolve:COMPOSER_CACHE)%"
