{% extends "base.html.twig" %}

{% set repository = form.vars.value %}

{% block title %}Edit repository{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <h2 class="form-signin-heading">
            Edit repository
        </h2>

        {% include '@PlaybloomSatisfy/_form.html.twig' %}

        <button class="btn btn-large btn-block btn-primary" type="submit">Update</button>
        <a href="{{ path('repository_delete', { 'repository': repository.id }) }}" class="btn btn-large btn-block btn-danger" >Delete</a>
    {{ form_end(form) }}
{% endblock %}
