{% extends "base.html.twig" %}

{% block title %}New repository{% endblock %}

{% block content %}
    <form method="POST" action="{{ path('repository_create') }}" {{ form_enctype(form) }} class="form-horizontal">
        <h2 class="form-signin-heading">
            New repository
        </h2>

        {% include '_form.html.twig' %}

        <button class="btn btn-large btn-block btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
