{% extends "base.html.twig" %}

{% block title %}New repository{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <h2 class="form-signin-heading">
            New repository
        </h2>

        {% include '@PlaybloomSatisfy/_form.html.twig' %}

        <button class="btn btn-large btn-block btn-primary" type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
