{% extends "base.html.twig" %}

{% block title %}Composer Repository currently not available{% endblock %}

{% block header %}
    Composer Repository currently not available
{% endblock %}

{% block content %}
    <a href="{{ path('repository') }}" class="btn btn-large btn-block btn-primary">
        Manage Repositories
    </a>
{% endblock %}
