{% extends "base.html.twig" %}

{% block title %}Composer Repository currently not available{% endblock %}

{% block header %}
    Composer Repository currently not available
{% endblock %}

{% block content %}
    <p class="alert alert-info">Maybe »Satis« was not started before or did not build a valid <code>package.json</code> file yet.</p>

    <a href="{{ path('repository') }}" class="btn btn-large btn-block btn-primary">
        Manage Repositories
    </a>
{% endblock %}
